#banner {
    max-width: 100%;
    height: auto
}

#map {
    height: 300px;
    width: 95%;
    border: 4px solid white;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#category {
    margin: 5px;
    text-align: center;
    border: 6px solid #FF99FF;
    border-radius: 120% 5% 110% 5% / 5% 110% 5% 120%;
}

.search-box {
  text-align: center;
}